<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCn8FOhUJ9VS9PiDaCdRUkHhKbwdUxCuZI</string>
	<key>GCM_SENDER_ID</key>
	<string>506335341874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zenshop</string>
	<key>PROJECT_ID</key>
	<string>zenshop-b1c3a</string>
	<key>STORAGE_BUCKET</key>
	<string>zenshop-b1c3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506335341874:ios:3e886dc8a7e798c7ebbb2b</string>
</dict>
</plist>